################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/BookStoreMVC/.vs/BookStoreMVC
/BookStoreMVC/BookStoreMVC/bin/Debug/netcoreapp3.1
/BookStoreMVC/BookStoreMVC/obj
/BookStoreMVC/BookStoreMVC/BookStoreMVC.csproj.user

