
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/Site.css" rel="stylesheet" />
    <title>Index</title>
</head>
<body class="container">
    <img src="~/images/insta.png" alt="logo" class="logo" />
    <input type="button" value="Click Me" class="btn btn-danger" />
    <h1 class="h1">Welcome to book store application</h1>
    <p>This is the homepage of book store application</p>
</body>
<script src="~/lib/jquery/jquery.js"></script>
</html>
<script>
    $(document).ready(function () {
        alert("Page Loaded");
    });
</script>
